
name: Simple build and test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '.github/dependabot.yml'
      - '.github/workflows/simple-build-test.yml'
      - '.github/workflows/dependabot-automerge.yml'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '.github/dependabot.yml'
      - '.github/workflows/simple-build-test.yml'
      - '.github/workflows/dependabot-automerge.yml'
  workflow_dispatch:

concurrency:
  group: "workflow = ${{ github.workflow }}, ref = ${{ github.event.ref }}, pr = ${{ github.event.pull_request.id }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash

jobs:
  ai-tester:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ai-tester
    strategy:
      fail-fast: false
      matrix:
        java:
          - '21'
    name: ai-tester-jvm-java${{ matrix.java }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven

      - name: build-test-ai-tester-java${{ matrix.java }}
        run: |
          ./mvnw -B clean verify \
            -Dquarkus.http.host=0.0.0.0 \
            -Dmaven.compiler.release=${{ matrix.java }}

  jvm-build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: parasol-app
    strategy:
      fail-fast: false
      matrix:
        java:
          - '21'
        ai-provider:
          - ollama
          - ollama-openai
    name: "jvm-build-test-${{ matrix.java }}-${{ matrix.ai-provider }}"
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven

      - name: "build-test-jvm-java${{ matrix.java }}-${{ matrix.ai-provider }}"
        env:
          OPENAI_API_KEY: change-me
        run: |
          ./mvnw -B clean verify \
            -P${{ matrix.ai-provider }} \
            -Dquarkus.http.host=0.0.0.0 \
            -Dmaven.compiler.release=${{ matrix.java }}
